extends ../layout

append top
    h1 Список платежей

block content
    div.b-order_list
        table.order_list
            tr.h
                th Номер заказа
                th Дата
                th Клиент / Email / ссылка
                th Назначение платежа
                th Сумма

            - var br = "<br/>"

            each p in orders
                tr.order_item
                    td
                        | #{p.order_id}
                        .state #{p.state}
                    td.cn
                        | #{p.ts.toFormat("MM.MM.YY")}
                    td
                        | #{p.name}!{br}#{p.email}
                        - var bh = bill_href(p)
                        - if( bh )
                            != br
                            a(href=bill_href(p)) #{p.order_id}
                    td
                        | #{p.descr}
                    td.amount
                        | #{p.amount}
